body {
    font-family: Roboto, Helvetica, sans-serif;
}

/**************
     BANNER 
**************/

.banner {
    height: 400px;
    background-image: url("https://cdn.tigerfacilityservices.com/img/bg_header_quality@2x.jpg");
    background-size: cover;
}
.banner2 {
    height: 500px;
    background-image:url("https://cdn.tigerfacilityservices.com/img/tfs_homepage_bg@2x.jpg");
    background-size: cover;
}
.banner2b {
    height: 500px;
    background-image:url("https://images.ctfassets.net/tqo8jd3rivfi/1PDzDP85fq2A0Uya6mUceK/2ff70247d8615e8ee28699d4c6543338/doctorpraxis_header_2x.jpg");
    background-size: cover;
}
.banner2c {
    height: 500px;
    background-image: url("//images.ctfassets.net/tqo8jd3rivfi/35nWogilfaCasi0I2Wysyq/8251499723e8ae211f4ae3698fec04f3/dentist_header_2x.jpg");
    background-size: cover;
}
.banner2d {
    height: 500px;
    background-image: url("//images.ctfassets.net/tqo8jd3rivfi/3xGP7q6QdiQamySkwc8cQM/79742d143c0214d2c561f4f558a13784/physiotherapists_header_2x.jpg");
    background-size: cover;
}
.banner2e {
    height: 500px;
    background-image: url("//images.ctfassets.net/tqo8jd3rivfi/5UMimVqKxGQS26YAs8gyUG/e9cc2706e3be45bc5bf1738ccd158843/cafe_header_2x.jpg");
    background-size: cover;
}
.banner2f {
    height: 500px;
    background-image: url("//images.ctfassets.net/tqo8jd3rivfi/4yqsJa6YTCO0ImMEowgiG/2dd60e0c80502cd3060466e8edc1166b/store_header_2x.jpg");
    background-size: cover;
}
.banner2g {
    height: 500px;
    background-image: url("//images.ctfassets.net/tqo8jd3rivfi/6bJJAm72dUEG0qyCmm4UEE/491f900626a4f7a9cc2afabe53a82875/publicspace_header_2x.jpg");
    background-size: cover;
}
.banner2h {
    height: 500px;
    background-image: url("//images.ctfassets.net/tqo8jd3rivfi/6COH21LNe04YAEyiqqwUIw/b61c8e54aa01813e939018bf79705f87/startup_header_2x.jpg");
    background-size: cover;
}
.banner2i {
    height: 500px;
    background-image: url("//images.ctfassets.net/tqo8jd3rivfi/4V1zL2LmZOQmkeow8KMSWk/7cbc45434f953143334a009831bfa57e/bigoffice_header_2x.jpg");
    background-size: cover;
}
.banner2j {
    height: 500px;
    background-image: url("//images.ctfassets.net/tqo8jd3rivfi/5AyLbDEGyIUO0gaCsssacE/c90bf916e7f3fd2cc3e87500a59fab60/smalloffice_header_2x.jpg");
    background-size: cover;
}
.banner2k {
    height: 500px;
    background-image: url("//images.ctfassets.net/tqo8jd3rivfi/3xGP7q6QdiQamySkwc8cQM/79742d143c0214d2c561f4f558a13784/physiotherapists_header_2x.jpg");
    background-size: cover;
}

.banner-3 {
    height: 350px;    
    background-image: url("https://cdn.tigerfacilityservices.com/img/partners_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}
.banner4 {
    position: relative;
    height: 410px;
    background-image:url("https://cdn.tigerfacilityservices.com/img/bg_header_office@2x.jpg");
    background-size: cover;
}

.banner5 {
    height: 200px;    
    background-image: url("https://cdn.tigerfacilityservices.com/img/about_us_sf_bg@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner6 {
    height: 350px; 
    background: url("https://cdn.tigerfacilityservices.com/img/bg_b2b@2x.jpg") top no-repeat;
    background-size: cover;
}

.banner7 {
    height: 350px; 
    background: url("https://cdn.tigerfacilityservices.com/img/office-plan@2x.png") top no-repeat;
    background-size: cover;
}

.banner8 {
    height: 600px; 
    background-image: url("https://cdn.tigerfacilityservices.com/img/video_bg@2x.jpg");
    background-size: cover;
    cursor: pointer;
}

.half-banner {
    background-image: url("https://cdn.tigerfacilityservices.com/img/bg-businesscleaning@2x.jpg");
    background-size: cover;
    background-position: 50%;
}

.banner-title {
    background: #1086c1;
    display: table;
    width: auto;
    margin: 0px;
    padding: 0px;
}
.banner-text {
    background-color: rgba(1,70,146,.8);
}

.f-bann-title {
    font-size: 1.2rem!important;
    font-weight: 200;
}

.f-bann-text {
    font-size: 1.9rem;
    font-weight: 300;
}

h6 {
    font-weight: 400!important;
}

.banner-card {
    height:100%!important;
}

/**************
  NAVIGATION 
**************/

.fixedElement {
    background-color: #c0c0c0;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    transition: 1s ease-in;
}


.nav-fonts a {
    font-weight: 400!important;
    font-size: 15px;
}

.nav-fonts li {
    margin: 0 10px;
}

.f-bann-title li {
    font-size: 1rem!important;
    margin: 5px 0;
    font-weight: 300;
}

.btn-header {
    background-color: #ffcd00;
    font-size: 0.9rem;
    border-radius: .38462rem;
    letter-spacing: 0.5px;
    font-weight: 300px;
}
.btn-header2{
    background-color: white;
    border: 1px solid #e8e8e8;
    font-size: 0.9rem;
    border-radius: .38462rem;
    letter-spacing: 0.5px;
    font-weight: 300px;
}

.btn-header:hover {
    background-color: #f2c300;
}
.btn-header2:hover {
    background-color: #fafafa;
}

.footer-text, footer a {
    color:#b5b5b5!important;
}

/* MAIN */

.modal {
    top: 30%;
}
.modal-backdrop.fade {
    opacity: 0.6!important;
}

.baby-blue {
    background-color: #ebf1fa!important;
}

.link-card:hover {
    background-color: #ffcd00!important;
}

.link-card {
    cursor: pointer;
}
.cursor-pointer {
    cursor: pointer;
}

.fifth {
    width: 20%;
}

.fifth-card {
    cursor: pointer;
}

.fifth-card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.11)!important;
    transition: box-shadow .5s;
}

.services-top {
    top:-100px;
}

.tab-link h5, .tab-link h6{
    color: #000!important;
}
.tab-link {
    background-color: #ebf1fa!important;
}

.tab-link.active h5, .tab-link.active h6{
    color: #fff!important;
}

.tab-link.active {
    background-color: #014692!important;
}

.nav-item {
    cursor: pointer;
}

.bubble-speech {
    top: -50px;
    width: 120%!important;
    background-color: #ffcd00;
    position: relative;
    z-index: 1;
}

.bubble-speech::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    right: 0;
    width: 0;
    height: 0;
    border-right: 2rem solid #ffcd00;
    border-left: 2rem solid transparent;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
}

.picture-left {
    left: -20px;
}

.w-20 {
    width: 20%!important;
}
.h-400 {
    height: 420px;
}

.letter-space-1 {
    letter-spacing: 1px;
}

.line-height-150 {
    line-height: 150%;
}
.font-weight-500 {
    font-weight: 500!important;
}
.font-weight-300 {
    font-weight: 300!important;
}
.font-weight-200 {
    font-weight: 200!important;
}
.font-weight-400 {
    font-weight: 400!important;
}
.font-weight-100 {
    font-weight: 100!important;
}

/* UBER UNS */

.image-up {
    top:-20px!important;
}
.top-10 {
    top: -10px;
}

.author {
    max-width: 4.92308rem;
}

.uber-tab.active {
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    border-bottom: 3px solid #ffcd00!important;
    color: #000;
}
.uber-tab {
    border: none!important;
    color: #828282;
}

.w-15 {
    width: 15%!important;
}
.circles{
    position: relative;
}

.check-circle {
    position: absolute;
    left: 90px;
}

.carousel-control-next-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
}
.carousel-control-prev-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
}

.carousel-inner {
    height: 550px;
}

.carousel .carousel-indicators li {
    background: black;
    width: 20px;
    height: auto;
}
.carousel-caption {
    bottom: -60px;
}

/* PREISE */

.bg-whiter {
    background-color: #f5f5f5!important;
    top: 50px;
    padding: 25px;
}

.bg-blacker {
    background-color: rgba(0,0,0,.68);
    top: -60px;
}

.top-100 {
    top:100px;
}
.top-25 {
    top:25px;
}

.bottom-50 {
    bottom:50px;
}

/* SO FUNKTIONIERTS */

.bg-image {
    background: url(https://cdn.tigerfacilityservices.com/img/flow_business@2x.png) top no-repeat;
    background-size: contain;
}

/* ANFRAGE */

.blue-banner {
    background: #014692;
    height: 460px;
    position: relative;
}

.blue-banner .col-lg-5 {
    top: 50px;
}

.blue-banner .col-lg-7 {
    top: 50px;
}

::placeholder {
    color: gray;
    opacity: 0.7;
    font-size: 14px;
}
:-ms-input-placeholder { 
    color: gray;
    opacity: 0.7;
    font-size: 14px;
}

::-ms-input-placeholder { 
    color: gray;
    opacity: 0.7;
    font-size: 14px;
}

/* E-BOOK */

.book-header{
    height: 490px;
    background-color: #eef0f5;
}

.top-150 {
    top: 150px;
}

.book-footer {
    background-color: #014692;
}