body {
    font-family: Roboto, Helvetica, sans-serif;
}

/**************
     BANNER 
**************/

.banner {
    height: 400px;
    background-image: url("https://cdn.tigerfacilityservices.com/img/bg_header_quality@2x.jpg");
    background-size: cover;
}
.banner2 {
    height: 500px;
    background-image:url("https://cdn.tigerfacilityservices.com/img/tfs_homepage_bg@2x.jpg");
    background-size: cover;
}
.banner-3 {
    height: 350px;    
    background-image: url("https://cdn.tigerfacilityservices.com/img/partners_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}
.banner4 {
    position: relative;
    height: 410px;
    background-image:url("https://cdn.tigerfacilityservices.com/img/bg_header_office@2x.jpg");
    background-size: cover;
}

.banner5 {
    height: 200px;    
    background-image: url("https://cdn.tigerfacilityservices.com/img/about_us_sf_bg@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner6 {
    height: 350px; 
    background: url("https://cdn.tigerfacilityservices.com/img/bg_b2b@2x.jpg") top no-repeat;
    background-size: cover;
}

.half-banner {
    background-image: url("https://cdn.tigerfacilityservices.com/img/bg-businesscleaning@2x.jpg");
    background-size: cover;
    background-position: 50%;
}

.banner-title {
    background: #1086c1;
    display: table;
    width: auto;
    margin: 0px;
    padding: 0px;
}
.banner-text {
    background-color: rgba(1,70,146,.8);
}

.f-bann-title {
    font-size: 1.2rem!important;
    font-weight: 200;
}

.f-bann-text {
    font-size: 1.9rem;
    font-weight: 300;
}

h6 {
    font-weight: 400!important;
}

.banner-card {
    height:100%!important;
}

/**************
  NAVIGATION 
**************/


.nav-fonts a {
    font-weight: 400!important;
    font-size: 15px;
}

.nav-fonts li {
    margin: 0 10px;
}

.f-bann-title li {
    font-size: 1rem!important;
    margin: 5px 0;
    font-weight: 300;
}

.btn-header {
    background-color: #ffcd00;
    font-size: 0.9rem;
    border-radius: .38462rem;
    letter-spacing: 0.5px;
    font-weight: 300px;
}
.btn-header2{
    background-color: white;
    border: 1px solid #e8e8e8;
    font-size: 0.9rem;
    border-radius: .38462rem;
    letter-spacing: 0.5px;
    font-weight: 300px;
}

.btn-header:hover {
    background-color: #f2c300;
}
.btn-header2:hover {
    background-color: #fafafa;
}

.footer-text, footer a {
    color:#b5b5b5!important;
}

/* MAIN */

.baby-blue {
    background-color: #ebf1fa!important;
}

.link-card:hover {
    background-color: #ffcd00!important;
}

.link-card {
    cursor: pointer;
}

.fifth {
    width: 20%;
}

.fifth-card {
    cursor: pointer;
}

.fifth-card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.11)!important;
    transition: box-shadow .5s;
}

.services-top {
    top:-100px;
}

.tab-link h5, .tab-link h6{
    color: #000!important;
}
.tab-link {
    background-color: #ebf1fa!important;
}

.tab-link.active h5, .tab-link.active h6{
    color: #fff!important;
}

.tab-link.active {
    background-color: #014692!important;
}

.nav-item {
    cursor: pointer;
}

.bubble-speech {
    top: -50px;
    width: 120%!important;
    background-color: #ffcd00;
    position: relative;
    z-index: 1;
}

.bubble-speech::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    right: 0;
    width: 0;
    height: 0;
    border-right: 2rem solid #ffcd00;
    border-left: 2rem solid transparent;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
}

.picture-left {
    left: -20px;
}

.w-20 {
    width: 20%!important;
}
.h-400 {
    height: 420px;
}

.letter-space-1 {
    letter-spacing: 1px;
}

.line-height-150 {
    line-height: 150%;
}
.font-weight-500 {
    font-weight: 500!important;
}
.font-weight-300 {
    font-weight: 300!important;
}
.font-weight-200 {
    font-weight: 200!important;
}
.font-weight-400 {
    font-weight: 400!important;
}

/* UBER UNS */

.image-up {
    top:-20px!important;
}
.top-10 {
    top: -10px;
}

.author {
    max-width: 4.92308rem;
}

.uber-tab.active {
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    border-bottom: 3px solid #ffcd00!important;
    color: #000;
}
.uber-tab {
    border: none!important;
    color: #828282;
}

.w-15 {
    width: 15%!important;
}
.circles{
    position: relative;
}

.check-circle {
    position: absolute;
    left: 90px;
}

.carousel-control-next-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
}
.carousel-control-prev-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
}

.carousel-inner {
    height: 550px;
}

.carousel .carousel-indicators li {
    background: black;
    width: 20px;
    height: auto;
}
.carousel-caption {
    bottom: -60px;
}